.App {
  text-align: center;
  font-family: Times New Roman;
  box-shadow: #61dafb;

}
.Form{
  margin-top: 1vh;
  margin-left: 85vh;
  background-color: antiquewhite;
  flex-direction: column;
  width: 50vh;
  display: flex;
  border: 1vh;
  box-shadow: -3px -3px 7px whitesmoke, 3px 3px 5px blueviolet ,  -8px -3px 4px  blueviolet, 3px 3px 1px blueviolet;

  
}
.BodyForm{
  align-content: center;
}
.FormDiv{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 12vh;
}
.Head{
  font-size: 5vh;
  margin-left: 18vh;
  
}
.Table{
  margin: 12vh;
}
.Dis{
  width: 30vh;
  margin-left: 1vh;
  background-color: red;
}
.Able{
  width: 20vh;
  margin-left: 12vh;
  background-color: red;
}
table{
  margin-top: 12vh;
  box-shadow: -8px -3px 7px 7px whitesmoke, 4px 4px 9px blueviolet ,  -8px -3px 7px 7px whitesmoke, 4px 4px 9px blueviolet;
  margin: auto;
  width: 80em;
  flex-direction: column-reverse;
  background-color: #61dafb;
  border: 1px solid;
  
  
}
.Img{
  
  width: 90px;
}
.Container{
  box-shadow: -8px -3px 7px 7px whitesmoke, 4px 4px 9px blueviolet , -8px -3px 7px 7px whitesmoke, 4px 4px 9px blueviolet ;
  margin: auto;
}
 thead{
  margin-top: 12vh;
 }
tr{
  text-align: start;
  background-color: blanchedalmond;
}
td{
  padding-left: 1em;
}
.Dis{
  font: bolder;
  color: black;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Nav{
  justify-content: space-between;
  display: flex;
  
  
}
.Btn{
  width: 20vh;
  height: 5vh;
  margin-top: 3vh;
  margin-right: 12px;
  
}
.BodyForm{
  padding: auto;
  text-align: center;
}
.Home{
  width: 20vh;
  height: 5vh;
  margin-top: 3vh;
  margin-right: 12px;
}

.Transactions{
  width: 20vh;
  height: 5vh;
  margin-top: 3vh;
  margin-right: 12px;
}
.Input{
  width: 20vh;
  height: 4vh;
  margin-top: 3vh;
  margin-right: 12px;
  font-family: Times New Roman;
}
.Navbar{
  background-color: #61dafb;
  display: flex;
  justify-content: space-between;
  font-family: Times New Roman;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
